.modal-content{
    background-color: rgb(114, 120, 118);
}

.modal-body{
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.modal-body img{
    height: 200px;
    width: 200px;
    margin-bottom: 30px;
}

.modal-body > div {
    font-size: 30px;
    display: flex;
    justify-content: center;
}
.modal-body > div >div{
    border: 1px rgb(30, 34, 37) solid;
    background-color: black;
    padding: 0px 30px 0px 30px ;
}